# These resources are default.
start mapmanager
start chat
start spawnmanager
start sessionmanager
start fivem
start hardcap
start rconlog
start scoreboard
start help

# These resources are custom.
start help
start vMenu
start carcontrol
start ziv-loadscreen

# These are map mods 
start greekpolicestation
start reducednpcs

# These are vehicles
start lamtmc
start ap2
start czr1
start 69charger
start 206c
start a80
start qashqai16
start mustang19
start rx7tunable
start Teslax
start hilux 
start frontier
start 2016ranger
start evo9
start s15
start r32
start skyline
start subwrx
start nis180
start africat
start mfc
start 180sx

